* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardmain{
    width: 300px;
    width: 400px;
    transform: translate(-50%,-50%);
}

.flip {
    perspective: 3000px;
}

.front,
.back {
    transform-style: preserve-3d;
    backface-visibility: hidden;
    width: 300px;
    height: 400px;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0px 20px 60px #0006;
    border-radius: 10px;
    transition: transform 1s ease;
    overflow: hidden;
}

.front {
    /* background: linear-gradient(to top, #af9cec, #6c99c3);
    background-size: cover; */
    
    z-index: 2;
    transform: rotateY(0);
}

.front-visible {
    transform: rotateY(180deg);
}

.back {
    background: linear-gradient(to bottom, #2018fa, #8f97ec);
    z-index: 1;
    transform: rotateY(-180deg);
}

.back-visible {
    transform: rotateY(0deg);
}

.card-content {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    transform: translateY(-50%) translateZ(100px);
    color: white;
    text-align: center;
    padding: 10px 20px;
}

/* h2 {
    font-size: 2rem;
    color: black;
} */

.card{
    /* padding: 10vh; */
    /* min-height: 50vh; */
    height: 100%;
    min-width: 15vw;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    /* border-radius: 20px; */
    overflow: hidden;
    position:  relative;
    /* box-shadow: 1px 1px 5px 5px gray; */
}

#upper{
    width: 100%;
    /* min-height: 20% */
    padding: 20%;
    background-color: rgb(83, 122, 251) ;
}

#name{
    padding: 3vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    /* background-color: lightgreen;   */
    /* color: white; */
}

#name h1{
    font-weight: lighter;
    /* font-size: large; */
}

#profile{
    position: absolute;
    width: 12vh;
    height: 12vh;
    /* padding: 10px; */
    background-color: #fff;
    border-radius: 100%;
    overflow: hidden;
    object-fit: cover;
    z-index: 1000;
    top: 10.5%;
    border: 5px solid rgb(83, 122, 251) ;
    
}

#profile img{
    /* height: 100%; */
    width: 100%;
    /* border-radius: 100%; */
}

#logo{
    /* background-color: lightcoral; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    width: 100%;
    padding: 1vh;
}

#logo img{
    height: 30px;
    width: 35px;
    border-radius: 50%;
}

#button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5vw;
    width: 100%;
    padding: 1vh;
    /* background-color: lightskyblue; */
}

#button div{
    /* padding: 20%; */
    color: white;
    font-weight: 500;
    background-color: rgb(83, 122, 251) ;
    padding: 0.5vh 1.5vh;
    border-radius: 10px;
}

#button div:hover{
    cursor: pointer;
}

#likes{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* background-color: lightgoldenrodyellow; */
    padding: 2vh;
}

#likes div{
    display: flex;
    justify-content: space-between;
    gap: 5px;
    align-items: center;
    border-right:1px solid gray ;
    padding: 0 10px;
}